a {
  height: 2rem;
}

.el-tag:hover {
  background-color: var(--el-color-primary) !important;
  color: white;
  cursor: pointer;
}

.el-tag-revert:hover {
  background-color: var(--el-color-primary-light-9) !important;
  color: var(--el-color-primary);
}

.sort-button {
  border-color: var(--el-color-primary) !important;
  color: var(--el-color-primary) !important;
  font-weight: 700 !important;
}
